@model IEnumerable<Project2.Models.PartnerOrder>

@{
    ViewData["Title"] = "Index";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfOreder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfOreder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>

            <td>

            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">عودة</a>
    <a asp-action="Edit" asp-controller="PartnerOrder" class="btn btn-danger">تعديل</a>

</p>